<footer>
    <div class="foot">
            <div class="foot__site">
                <p class="address">123 Fake St.</p>
                <p class="address">Ocala, FL. 34470</p>
                <p class="address">Phone: (239)555-1234</p>
            </div>
            <div class="foot__links">
                <h2>Map Site</h2>
                <ul>
                    <li><a href="../Appointment/">Appointment</a></li>
                    <li><a href="../gallery/">Gallery</a></li>
                    <li><a href="../../../index.html">Home</a></li>
                    <li><a href="../services/">Services</a></li>
                </ul>
            </div>
        </div>
        <p class="copy">© 2024, Miguel Angel Martinez Serrato</p>
</footer>