<header>
    <div class="title">
        <h1>Mercy's Beauty Salon</h1>
    </div>
    <div class="menu">
        <ul>
            <li><a href="goto/en/Appointment/">Appointment</a></li>
            <li><a href="goto/en/gallery/">Gallery</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="goto/en/services">Services</a></li>
        </ul>
    </div>
    <img src="../images/menu_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="menu">
    <input type="checkbox" class="checkbox" name="" id="">
    <div class="hamMenu">
        <ul>
            <li><a href="goto/en/Appointment/">Appointment</a></li>
            <li><a href="goto/en/gallery/">Gallery</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="goto/en/services">Services</a></li>
        </ul>
    </div>
</header>