/* Typography */

@font-face {
    font-family: Oswald;
    src: url(/fonts/Oswald-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Charm;
    src: url(/fonts/Charm-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Inknut;
    src: url(/fonts/InknutAntiqua-Bold.ttf) format('truetype');
}