---
title: "Mercy's Beauty Salon ::Home"
layout: 'base.njk'
---
<div class="hero">
    <div class="hero__text">
        <h2>Welcome!</h2>
        <p>
            Welcome to Mercy's beauty Salon. Located in Ocala, FL. This salon offers several services for hair and nail care. With experimented and professional personel, we combine creativity with technique to fulllfil our customer's expectations. our stylist are available to create your own style. 
        </p>
    </div>
    <div class="hero__img">
        <img src="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/dlbrgesgud2ioxxmgovh" srcset="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/dlbrgesgud2ioxxmgovh 300w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_600/v1/Personal/dlbrgesgud2ioxxmgovh 600w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_1200/v1/Personal/dlbrgesgud2ioxxmgovh 1200w," alt="home Photo" width="1280" height="720">
    </div>
</div>
<div class="access">
    <div class="access__1">
        <div class="access__1__img-wrapper">
            <div class="access__1__img">
                <img src="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/b0bis5b8mxu3fffugjyx" srcset="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/b0bis5b8mxu3fffugjyx 300w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_600/v1/Personal/b0bis5b8mxu3fffugjyx 600w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_1200/v1/Personal/b0bis5b8mxu3fffugjyx 1200w" alt="calendar" width="1280" height="720">
            </div>
        </div>
        <div class="access__1__content-wrapper">
            <div class="access__1__content">
                <h3 class="access__1__content__title">Appointment</h3>
                <br>
                <p class="access__1__content__description">You can visit us by creating an appointment here. Also you can call us or visit us without appointment</p>
            </div>
        </div>
        <div class="access__1__footer">
            <button class="access__1__button"><a href="goto/en/Appointment/">book</a></button>
        </div>
    </div>
    <div class="access__2">
        <div class="access__2__img-wrapper">
            <div class="access__2__img">
                <img src="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/xumg3gclhczhlwwlwfol" srcset="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/xumg3gclhczhlwwlwfol 300w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_600/v1/Personal/xumg3gclhczhlwwlwfol 600w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_1200/v1/Personal/xumg3gclhczhlwwlwfol 1200w" alt="Services" width="1280" height="720">
            </div>
        </div>
        <div class="access__2__content-wrapper">
            <div class="access__2__content">
                <h3 class="access__2__content__title">Our Services</h3>
                <br>
                <p class="access__2__content__description">Here you can see what services we offer and also a list of their respective prices</p>
            </div>
        </div>
        <div class="access__2__footer">
            <button type="button" class="access__2__button"><a href="goto/en/services/">Check here</a></button>
        </div>
    </div>
    <div class="access__3">
        <div class="access__3__img-wrapper">
            <div class="access__3__img">
                <img src="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/pdxji0woodsgr7z6gdzp" srcset="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/pdxji0woodsgr7z6gdzp 300w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_600/v1/Personal/pdxji0woodsgr7z6gdzp 600w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_1200/v1/Personal/pdxji0woodsgr7z6gdzp 1200w" alt="Hairstylist" width="1280" height="720">
            </div>
        </div>
        <div class="access__3__content-wrapper">
            <div class="access__3__content">
                <h3 class="access__3__content__title">Gallery</h3>
                <br>
                <p class="access__3__content__description">This is a sample of our work. from here you can take inspiration to elaborate your own style</p>
            </div>
        </div>
        <div class="access__3__footer">
            <button class="access__3__button"><a href="goto/en/gallery/">See More</a></button>
        </div>
    </div>
</div>
<div class="loctime">
    <div class="loctime__loc">
        <img class="loctime__loc__img" src="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/n9yx02b4z7zwjpisoyde" alt="open" srcset="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/n9yx02b4z7zwjpisoyde 300w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_600/v1/Personal/n9yx02b4z7zwjpisoyde 600w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_1200/v1/Personal/n9yx02b4z7zwjpisoyde 1200w," width="1280" height="720">
        <div class="loctime__loc__content">
            <h2>Our Location</h2>
            <ul class="info">
                <li>123 Fake St.</li>
                <li>Ocala, FL 34473</li>
                <li>phone: <a href="tel:2395551234">(239)555-1234</a></li>
                <li>e-mail: <a href="mailto:info@mbs.netlify.net">info@mbs.netlify.net</a></li>
            </ul>
        </div>
    </div>
    <div class="loctime__time">
        <img class="loctime__time__img" src="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/n9yx02b4z7zwjpisoyde" alt="open" srcset="https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_300/v1/Personal/n9yx02b4z7zwjpisoyde 300w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_600/v1/Personal/n9yx02b4z7zwjpisoyde 600w, https://res.cloudinary.com/dvoigkose/image/upload/f_auto,q_auto,w_1200/v1/Personal/n9yx02b4z7zwjpisoyde 1200w," width="1280" height="720">
        <div class="loctime__time__content">
            <h2>Business Hours</h2>
            <ul>
                <li>Monday: 8:00am - 4:00pm</li>
                <li>Tuesday: 8:00am - 4:00pm</li>
                <li>Wednesday: 8:00am - 4:00pm</li>
                <li>Thursday: 8:00am - 4:00pm</li>
                <li>Friday: 8:00am - 4:00pm</li>
                <li>Saturday: Closed</li>
                <li>Sunday: Closed</li>
            </ul>
        </div>
    </div>
</div>